/*
body {
    background-color: #393939;
}
*/
.product-card {
    background: linear-gradient(135deg, #636363 0%, #444444 100%);
    width: 17rem;
    height: 25rem;
    border-radius: 1rem;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}